/* Animação FadeInUp */

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.fade-in {
  animation: fadeIn 0.3s ease forwards;
}

.fade-out {
  animation: fadeOut 0.3s ease forwards;
}

body {
    background: #313f57;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 40px;
    flex-wrap: wrap;
    margin-left: 100px;
    width: 90%;
}

.inputbox, .pesquisaLivro { /*Conteudo principal*/
    max-width: 1000px;
    background: #1a2333;
    border: 2px solid rgb(28, 28, 48);
    border-radius: 8px;
    padding: 32px 24px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    flex: 1;
    min-width: 300px;
    position: relative;
}

h1 {
    text-align: center;
    color: #584DE8;
}

p {
    text-align: center;
    color: #868686;
}
textarea {
    width: 100%;
    height: 60px;
    margin: 16px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b2bec3;
    font-size: 1em;
    resize: vertical;
    box-sizing: border-box; 
}

.button {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 16px;
}

button {
    flex: 1;
    padding: 10px;
    background: linear-gradient(to right, #395AEB, #524FEA ,#823AEB);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
}


#response {
    margin-top: 16px;
    background: #dfe6e9;
    border-radius: 4px;
    padding: 12px;
    min-height: 40px;
    color: #2d3436;
    white-space: pre-line;
}

.buttonPesquisar {
    flex: 1;
    padding: 10px;
    background: #625fc2;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.2s;
}

.input {
    width: 30%;
    height: 40px;
    margin: 16px 8px 16px 0;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b2bec3;
    font-size: 15px;
    box-sizing: border-box;
}

h2 {
    color: #584DE8;
}


/* sidebar styles */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    background: #1E293B;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.card1, .card2 {
    margin: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 25px;
    background: #f9f9f9;
    text-align: center;
}


.btn-img {
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 15px;
}

.btn-img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.sidebar.open {
    transform: translateX(0);
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 20px;
    background: #ffffff;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

#toggle-btn {
  position: fixed;
  top: 50%;
  left: 0px;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: url('/static/img/buttonOpen.png') no-repeat center;
  background-size: contain;
  cursor: pointer;
  z-index: 1100;
}

.openbtn.open {
    display: none;
}


.close-btn {
    background: url('/static/img/close.png') no-repeat center;
    background-size: contain;
    border: none;   
    width: 50px;
    height: 50px;
    cursor: pointer;
    color:#2d3436
}

.close-btn:hover {
    background: url('/static/img/close.png') no-repeat center;
    background-size: contain;
    border-color: #fff;   
    width: 50px;
    height: 50px;
    cursor: pointer;
    color:#f9f9f9
}

/* History Overlay Styles */

.history-btn {
    width: 40px;
    height: 40px;
    background: url('/static/img/history.png') no-repeat center;
    background-size: contain;
    border: none;
    right: 20px;
    position: absolute;
    margin-right: 20px;
}

.history-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
    
}

.history-content {
    background-color: #fff;
    margin-right: 250px;
    margin-left: 250px;
    padding: 20px;
    border-radius: 20px;
    width: 65%;
    height: 60%;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    animation: fadeInUp 0.3s ease;
    
}

.history-header {
    display: flex;
    justify-content: space-between;
}

.history-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}



